:root {
  --main-bg-color: #D9E1EB;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link-secondary {
  color: #6c757d !important;
  text-decoration: none !important;
  cursor: pointer;
}

textarea {
  resize: none !important;
}

.main-bg {
  background-color: var(--main-bg-color) !important;
}

.fs-sm {
  font-size: 14px;
}

.input-pill {
  border-radius: 25px;
  border-style: solid
}

.fw-normal {
  font-weight: 500 !important;
}

.text-secondary-dark {
  color: #495057;
}

.rounded-card {
  border-radius: 10px !important;
}